@import "tailwindcss";
@import "tw-animate-css";

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* optional: remove default link underline */
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}